export(build_composition_matrix)
export(load_structure_catalog)
export(load_interaction_reference)
export(normalize_score_matrix)
export(normalize_structure_scores)
export(parse_structure_formula)
export(read_expression_matrix)
export(read_sample_metadata)
export(score_geomean)
export(score_geomean_structure)
export(score_integrin_ecm)
export(score_integrin_ecm_files)
export(score_nnls)
export(score_nnls_sample)
export(score_structures)
export(summarize_structure_scores)
export(write_score_workbook)
S3method(print,integrin_ecm_result)
S3method(print,integrin_ecm_module_result)
